Repository fmalvisi/umana2021-final-test: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:js --fix, yarn lint:scss --fix

aggiunte components table. detail, add
  src/app/modules/categories/categories.module.ts
  src/app/modules/categories/components/categories-add/categories-add.component.html
  src/app/modules/categories/components/categories-add/categories-add.component.scss
  src/app/modules/categories/components/categories-add/categories-add.component.spec.ts
  src/app/modules/categories/components/categories-add/categories-add.component.ts
  src/app/modules/categories/components/categories-detail/categories-detail.component.html
  src/app/modules/categories/components/categories-detail/categories-detail.component.scss
  src/app/modules/categories/components/categories-detail/categories-detail.component.spec.ts
  src/app/modules/categories/components/categories-detail/categories-detail.component.ts
  src/app/modules/categories/components/categories-table/categories-table.component.html
  src/app/modules/categories/components/categories-table/categories-table.component.scss
  src/app/modules/categories/components/categories-table/categories-table.component.spec.ts
  src/app/modules/categories/components/categories-table/categories-table.component.ts
Due: yarn run lint:js --fix, yarn lint:scss --fix

aggiunti componenti e path funzionante
  src/app/modules/users/aggiungi/aggiungi.component.html
  src/app/modules/users/aggiungi/aggiungi.component.scss
  src/app/modules/users/aggiungi/aggiungi.component.spec.ts
  src/app/modules/users/aggiungi/aggiungi.component.ts
  src/app/modules/users/modifica/modifica.component.html
  src/app/modules/users/modifica/modifica.component.scss
  src/app/modules/users/modifica/modifica.component.spec.ts
  src/app/modules/users/modifica/modifica.component.ts
  src/app/modules/users/show-users/show-users.component.html
  src/app/modules/users/show-users/show-users.component.scss
  src/app/modules/users/show-users/show-users.component.spec.ts
  src/app/modules/users/show-users/show-users.component.ts
  src/app/modules/users/users-routing.module.ts
  src/app/modules/users/users.module.ts
Due: yarn run lint:js --fix, yarn lint:scss --fix

aggiunto lazy routing componenti
  src/app/modules/categories/categories-routing.module.ts
  src/app/modules/categories/categories.module.ts
  src/app/modules/categories/components/categories-table/categories-table.component.html
Due: yarn run lint:js --fix

aggiunti elementi json
  mock-api/db.json
Due: none

creazione dei componenti
  src/app/modules/items/add-item/add-item.component.html
  src/app/modules/items/add-item/add-item.component.scss
  src/app/modules/items/add-item/add-item.component.spec.ts
  src/app/modules/items/add-item/add-item.component.ts
  src/app/modules/items/details-item/details-item.component.html
  src/app/modules/items/details-item/details-item.component.scss
  src/app/modules/items/details-item/details-item.component.spec.ts
  src/app/modules/items/details-item/details-item.component.ts
  src/app/modules/items/items.module.ts
  src/app/modules/items/list-items/list-items.component.html
  src/app/modules/items/list-items/list-items.component.scss
  src/app/modules/items/list-items/list-items.component.spec.ts
  src/app/modules/items/list-items/list-items.component.ts
  src/app/modules/items/modify-item/modify-item.component.html
  src/app/modules/items/modify-item/modify-item.component.scss
  src/app/modules/items/modify-item/modify-item.component.spec.ts
  src/app/modules/items/modify-item/modify-item.component.ts
Due: yarn run lint:js --fix, yarn lint:scss --fix

aggiunto routing per i componenti creati
  src/app/modules/items/items-routing.module.ts
  src/app/modules/items/list-items/list-items.component.html
Due: yarn run lint:js --fix

aggiunti componenti nei moduli e modifica
  src/app/modules/users/modifica/modifica.component.html
  src/app/modules/users/modifica/modifica.component.ts
  src/app/modules/users/users.module.ts
Due: yarn run lint:js --fix

aggiunte call api
  src/app/modules/categories/components/categories-detail/categories-detail.component.html
  src/app/modules/categories/components/categories-detail/categories-detail.component.ts
Due: yarn run lint:js --fix

Creazione elenco di tutti gli oggetti + creazione custom pipe
  src/app/modules/items/items.module.ts
  src/app/modules/items/list-items/list-items.component.html
  src/app/modules/items/list-items/list-items.component.ts
  src/app/shared/pipes/currency.pipe.ts
Due: yarn run lint:js --fix

aggiungi utente in progress
  src/app/app.module.ts
  src/app/modules/users/aggiungi/aggiungi.component.html
  src/app/modules/users/aggiungi/aggiungi.component.scss
  src/app/modules/users/aggiungi/aggiungi.component.ts
  src/app/modules/users/users.module.ts
Due: yarn run lint:js --fix, yarn lint:scss --fix

aggiunto input da table a detail + api placeholders
  .prettierrc.json
  src/app/modules/categories/categories-routing.module.ts
  src/app/modules/categories/categories.module.ts
  src/app/modules/categories/components/categories-detail/categories-detail.component.html
  src/app/modules/categories/components/categories-detail/categories-detail.component.ts
  src/app/modules/categories/components/categories-table/categories-table.component.html
  src/app/modules/categories/components/categories-table/categories-table.component.ts
Due: yarn run lint:js --fix

aggiunto resolver per modifica utente
  src/app/modules/users/modifica/modifica.component.html
  src/app/modules/users/modifica/modifica.component.ts
  src/app/modules/users/resolver/user-resolver.resolver.spec.ts
  src/app/modules/users/resolver/user-resolver.resolver.ts
  src/app/modules/users/users-routing.module.ts
  src/app/modules/users/users.module.ts
Due: yarn run lint:js --fix

added imgurl field to items; added original-db.json file to restore json-server to the initial state.
  mock-api/original-db.json
  openapi/sample.yaml
Due: none

aggiungi utente pronto manca solo i css
  mock-api/db.json
  src/app/modules/users/aggiungi/aggiungi.component.html
  src/app/modules/users/aggiungi/aggiungi.component.ts
Due: yarn run lint:js --fix

tab and button for user page
  src/app/modules/users/show-users/show-users.component.html
Due: yarn run lint:js --fix

link at button aggiungi
  src/app/modules/users/show-users/show-users.component.html
Due: yarn run lint:js --fix

inserimento oggetto nel json + fix custompipe
  src/app/modules/items/list-items/list-items.component.html
  src/app/modules/items/list-items/list-items.component.ts
  src/index.html
Due: yarn run lint:js --fix

resolver per modifiche migliorato
  mock-api/db.json
  src/app/modules/users/modifica/modifica.component.html
  src/app/modules/users/modifica/modifica.component.ts
  src/app/modules/users/resolver/user-resolver.resolver.ts
Due: yarn run lint:js --fix

edit button edit
  src/app/modules/users/show-users/show-users.component.html
Due: yarn run lint:js --fix

mockapi aggiornato
  mock-api/db.json
Due: none

aggiunta tabella categories
  src/app/modules/categories/components/categories-table/categories-table.component.html
  src/app/modules/categories/components/categories-table/categories-table.component.ts
Due: yarn run lint:js --fix

mi preparo per aggiornare db
  mock-api/db.json
  src/app/modules/users/aggiungi/aggiungi.component.html
  src/app/modules/users/aggiungi/aggiungi.component.scss
  src/app/modules/users/aggiungi/aggiungi.component.ts
Due: yarn run lint:js --fix, yarn lint:scss --fix

implementazione input variabile tabella categories
  src/app/modules/categories/components/categories-detail/categories-detail.component.html
  src/app/modules/categories/components/categories-detail/categories-detail.component.ts
  src/app/modules/categories/components/categories-table/categories-table.component.html
  src/app/modules/categories/components/categories-table/categories-table.component.ts
Due: yarn run lint:js --fix

importato form module in items.modle.ts
  src/app/modules/items/items.module.ts
  src/app/modules/items/list-items/list-items.component.html
  src/app/modules/items/modify-item/modify-item.component.html
  src/app/modules/items/modify-item/modify-item.component.ts
Due: yarn run lint:js --fix

aggiunto il servizio per gli oggetti
  src/app/core/services/superItemService.ts
  src/app/modules/items/list-items/list-items.component.ts
Due: yarn run lint:js --fix

inizio sviluppo funzione sortCategories()
  src/app/modules/categories/components/categories-table/categories-table.component.ts
Due: yarn run lint:js --fix

add versione base
  src/app/modules/categories/components/categories-add/categories-add.component.html
  src/app/modules/categories/components/categories-add/categories-add.component.scss
  src/app/modules/categories/components/categories-add/categories-add.component.ts
Due: yarn run lint:js --fix, yarn lint:scss --fix

fix id json & import json
  src/app/modules/categories/components/categories-detail/categories-detail.component.html
  src/app/modules/categories/components/categories-detail/categories-detail.component.ts
  src/app/modules/categories/components/categories-table/categories-table.component.html
  src/app/modules/categories/components/categories-table/categories-table.component.ts
Due: yarn run lint:js --fix

aggiornato il superService e aggiunto il carosello nel listItems
  src/app/core/services/superItemService.ts
  src/app/modules/items/list-items/list-items.component.html
  src/app/modules/items/list-items/list-items.component.ts
Due: yarn run lint:js --fix

edit on tab
  src/app/modules/users/show-users/show-users.component.html
  src/app/modules/users/show-users/show-users.component.ts
Due: yarn run lint:js --fix

aggiunto resolver oggetti
  src/app/modules/users/resolver/items-resolver.resolver.spec.ts
  src/app/modules/users/resolver/items-resolver.resolver.ts
  src/app/modules/users/resolver/user-resolver.resolver.ts
Due: yarn run lint:js --fix

function id on changes
  mock-api/db.json
  src/app/modules/categories/components/categories-detail/categories-detail.component.html
  src/app/modules/categories/components/categories-detail/categories-detail.component.ts
  src/app/modules/categories/components/categories-table/categories-table.component.html
  src/app/modules/categories/components/categories-table/categories-table.component.ts
Due: yarn run lint:js --fix

modify html completato
  src/app/modules/items/modify-item/modify-item.component.html
  src/app/modules/items/modify-item/modify-item.component.scss
  src/app/modules/items/modify-item/modify-item.component.ts
Due: yarn run lint:js --fix, yarn lint:scss --fix

aggiornata la listItems
  src/app/modules/items/list-items/list-items.component.html
  src/app/modules/items/list-items/list-items.component.ts
Due: yarn run lint:js --fix

implementata funzione sortCategories()
  src/app/modules/categories/components/categories-table/categories-table.component.html
  src/app/modules/categories/components/categories-table/categories-table.component.ts
Due: yarn run lint:js --fix

resolverleo
  src/app/modules/users/resolver/resolverleo.resolver.spec.ts
  src/app/modules/users/resolver/resolverleo.resolver.ts
  src/app/modules/users/show-users/show-users.component.ts
  src/app/modules/users/users-routing.module.ts
Due: yarn run lint:js --fix

soluzione conflitto router
  mock-api/db.json
  src/app/modules/users/modifica/modifica.component.html
  src/app/modules/users/modifica/modifica.component.ts
  src/app/modules/users/users-routing.module.ts
Due: yarn run lint:js --fix

aggiunta callback updateCurrentCategory
  mock-api/db.json
  src/app/modules/categories/components/categories-table/categories-table.component.html
  src/app/modules/categories/components/categories-table/categories-table.component.ts
Due: yarn run lint:js --fix

aggiungo pipe
  mock-api/db.json
  src/app/modules/users/aggiungi/aggiungi.component.html
  src/app/modules/users/aggiungi/aggiungi.component.scss
  src/app/modules/users/aggiungi/aggiungi.component.ts
  src/app/modules/users/aggiungi/pipe
  src/app/modules/users/etapipe.pipe.ts
  src/app/modules/users/modifica/modifica.component.html
  src/app/modules/users/users.module.ts
Due: yarn run lint:js --fix, yarn lint:scss --fix

comit
  mock-api/db.json
  src/app/modules/users/aggiungi/aggiungi.component.html
  src/app/modules/users/aggiungi/aggiungi.component.scss
Due: yarn run lint:js --fix, yarn lint:scss --fix

Path conditions:
  yarn run lint:js --fix: any of: src/**/*.{ts,js,html}
  yarn lint:scss --fix: any of: src/**/*.scss
