Repository fmalvisi/umana2021-final-test: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:js --fix, yarn lint:scss --fix

.lintstagedrc.json:

{
  "src/**/*.{ts,js,html}": ["yarn run lint:js --fix", "git add"],
  "src/**/*.scss": ["yarn lint:scss --fix", "git add"]
}

footer bottom 0
  mock-api/original-db 2.json
  src/app/layout/views/empty-layout/empty-layout.component.html
  src/app/modules/users/aggiungi/pipe 2
  src/app/modules/users/users.module.ts
Due: yarn run lint:js --fix

grafica modifiche utente
  mock-api/db.json
  src/app/modules/users/modifica/modifica.component.html
  src/app/modules/users/modifica/modifica.component.scss
  src/app/modules/users/modifica/modifica.component.ts
Due: yarn run lint:js --fix, yarn lint:scss --fix

tabella ordinata in maniera decrescente a seconda degli item
  src/app/modules/categories/components/categories-table/categories-table.component.html
  src/app/modules/categories/components/categories-table/categories-table.component.ts
Due: yarn run lint:js --fix

modifica modify
  src/app/modules/items/modify-item/modify-item.component.html
  src/app/modules/items/modify-item/modify-item.component.ts
Due: yarn run lint:js --fix

resolve setup
  mock-api/db.json
  src/app/modules/categories/categories-resolver.resolver.spec.ts
  src/app/modules/categories/categories-resolver.resolver.ts
  src/app/modules/categories/categories-routing.module.ts
  src/app/modules/categories/components/categories-detail/categories-detail.component.html
  src/app/modules/categories/components/categories-detail/categories-detail.component.ts
Due: yarn run lint:js --fix

grafica modifiche utente
  mock-api/db.json
  src/app/modules/users/modifica/modifica.component.html
Due: yarn run lint:js --fix

migliorato il carosello e aggiunti filtri
  mock-api/db.json
  src/app/modules/items/list-items/list-items.component.html
  src/app/modules/items/list-items/list-items.component.scss
Due: yarn run lint:js --fix, yarn lint:scss --fix

tab leo
  src/app/modules/users/show-users/show-users.component.html
Due: yarn run lint:js --fix

campi validation
  src/app/modules/users/aggiungi/aggiungi.component.html
  src/app/modules/users/aggiungi/aggiungi.component.scss
Due: yarn run lint:js --fix, yarn lint:scss --fix

grafica migliorata
  mock-api/db.json
  src/app/modules/users/modifica/modifica.component.html
Due: yarn run lint:js --fix

aggiornata la lista degli elementi
  mock-api/db.json
  src/app/core/services/superItemService.ts
  src/app/modules/items/list-items/list-items.component.html
  src/app/modules/items/list-items/list-items.component.scss
  src/app/modules/items/list-items/list-items.component.ts
  src/app/modules/items/modify-item/modify-item.component.ts
Due: yarn run lint:js --fix, yarn lint:scss --fix

input fix
  mock-api/db.json
  src/app/modules/categories/components/categories-detail/categories-detail.component.html
  src/app/modules/categories/components/categories-detail/categories-detail.component.ts
  src/app/modules/categories/components/categories-table/categories-table.component.html
  src/app/modules/categories/components/categories-table/categories-table.component.ts
Due: yarn run lint:js --fix

date validation
  mock-api/db.json
  src/app/modules/users/aggiungi/aggiungi.component.html
  src/app/modules/users/aggiungi/aggiungi.component.scss
Due: yarn run lint:js --fix, yarn lint:scss --fix

aggiunto dob funzionante
  mock-api/db.json
  src/app/modules/users/modifica/modifica.component.html
  src/app/modules/users/modifica/modifica.component.ts
Due: yarn run lint:js --fix

modifica path da modifica-oggetti a modifica-oggetti/:id
  src/app/modules/items/items-routing.module.ts
  src/app/modules/items/modify-item/modify-item.component.ts
Due: yarn run lint:js --fix

modifica routerLink ,odifica-oggetto in list-items
  src/app/modules/items/list-items/list-items.component.html
Due: yarn run lint:js --fix

edit component + routing + resolver
  src/app/modules/categories/categories-resolver.resolver.ts
  src/app/modules/categories/categories-routing.module.ts
  src/app/modules/categories/categories.module.ts
  src/app/modules/categories/components/categories-detail/categories-detail.component.html
  src/app/modules/categories/components/categories-detail/categories-detail.component.ts
  src/app/modules/categories/components/categories-edit/categories-edit.component.html
  src/app/modules/categories/components/categories-edit/categories-edit.component.scss
  src/app/modules/categories/components/categories-edit/categories-edit.component.spec.ts
  src/app/modules/categories/components/categories-edit/categories-edit.component.ts
  src/app/modules/categories/components/categories-table/categories-table.component.html
Due: yarn run lint:js --fix, yarn lint:scss --fix

add service + folder sorting
  src/app/modules/categories/categories-resolver.resolver.spec.ts
  src/app/modules/categories/categories-routing.module.ts
  src/app/modules/categories/categories.module.ts
  src/app/modules/categories/components/categories-detail/categories-detail.component.html
  src/app/modules/categories/components/categories-detail/categories-detail.component.ts
  src/app/modules/categories/components/categories-edit/categories-edit.component.ts
  src/app/modules/categories/components/categories-table/categories-table.component.html
  src/app/modules/categories/components/categories-table/categories-table.component.ts
  src/app/modules/categories/resolver/categories-resolver.resolver.spec.ts
  src/app/modules/categories/resolver/categories-resolver.resolver.ts
  src/app/modules/categories/service/category-data.service.spec.ts
  src/app/modules/categories/service/category-data.service.ts
Due: yarn run lint:js --fix

add v.2 + categories.module.ts fix bug
  src/app/modules/categories/categories.module.ts
  src/app/modules/categories/components/categories-add/categories-add.component.html
  src/app/modules/categories/components/categories-add/categories-add.component.ts
Due: yarn run lint:js --fix

aggiornato il superService e la ListItem
  src/app/core/services/superItemService.ts
  src/app/modules/items/list-items/list-items.component.html
  src/app/modules/items/list-items/list-items.component.scss
  src/app/modules/items/list-items/list-items.component.ts
  src/app/modules/items/modify-item/modify-item.component.ts
Due: yarn run lint:js --fix, yarn lint:scss --fix

aggiunta funzionalità filtro categories
  src/app/modules/categories/components/categories-table/categories-table.component.html
  src/app/modules/categories/components/categories-table/categories-table.component.scss
  src/app/modules/categories/components/categories-table/categories-table.component.ts
Due: yarn run lint:js --fix, yarn lint:scss --fix

inserimento nella pagina modifica dei dati preesistenti nei campi input - da prendere dal db
  src/app/modules/items/modify-item/modify-item.component.html
  src/app/modules/items/modify-item/modify-item.component.ts
Due: yarn run lint:js --fix

aggiunta recupero id da url in modify-item.component.ts
  src/app/modules/items/modify-item/modify-item.component.ts
Due: yarn run lint:js --fix

modifica htm modify(prezzo)
  src/app/modules/items/list-items/list-items.component.ts
  src/app/modules/items/modify-item/modify-item.component.html
  src/app/modules/items/modify-item/modify-item.component.ts
Due: yarn run lint:js --fix

risolto getItemsId funzionante(in modify-item.component.ts)
  src/app/modules/items/modify-item/modify-item.component.ts
Due: yarn run lint:js --fix

messe dob utenti valide
  mock-api/db.json
Due: none

date validation done
  mock-api/db.json
  src/app/modules/users/aggiungi/aggiungi.component.html
Due: yarn run lint:js --fix

icon pipe v.1
  src/app/modules/categories/categories.module.ts
  src/app/modules/categories/components/categories-add/categories-add.component.html
  src/app/modules/categories/icon.pipe.spec.ts
  src/app/modules/categories/icon.pipe.ts
Due: yarn run lint:js --fix

eliminata sezione 'dettagli oggetti' in modify.html + riempimento campi da modificare funzionenti
  src/app/modules/items/modify-item/modify-item.component.html
  src/app/modules/items/modify-item/modify-item.component.ts
Due: yarn run lint:js --fix

Inserimento metodi nel superItemService + implementazione pagina dettagli + da fixare visualiz. img
  src/app/core/services/superItemService.ts
  src/app/modules/items/details-item/details-item.component.html
  src/app/modules/items/details-item/details-item.component.scss
  src/app/modules/items/details-item/details-item.component.ts
  src/app/modules/items/items-routing.module.ts
  src/app/modules/items/list-items/list-items.component.html
  src/app/modules/items/list-items/list-items.component.ts
Due: yarn run lint:js --fix, yarn lint:scss --fix

edit id fix
  src/app/modules/categories/components/categories-detail/categories-detail.component.ts
  src/app/modules/categories/components/categories-edit/categories-edit.component.html
  src/app/modules/categories/components/categories-edit/categories-edit.component.ts
Due: yarn run lint:js --fix

aggiunto disabled condizionale ai tasti cancella
  mock-api/db.json
  src/app/modules/categories/components/categories-table/categories-table.component.html
  src/app/modules/categories/components/categories-table/categories-table.component.ts
Due: yarn run lint:js --fix

Risoluzione problema form-campo price_euro
  src/app/modules/items/modify-item/modify-item.component.html
Due: yarn run lint:js --fix

risolto problema form url + aggiunta controllo correttezza url inserito
  src/app/modules/items/modify-item/modify-item.component.html
  src/app/modules/items/modify-item/modify-item.component.ts
Due: yarn run lint:js --fix

aggiunti i filtri Utenti/Cat/Oggetti nella Lista
  src/app/modules/items/list-items/list-items.component.html
  src/app/modules/items/list-items/list-items.component.scss
  src/app/modules/items/list-items/list-items.component.ts
Due: yarn run lint:js --fix, yarn lint:scss --fix

add: new routing for edit component, fix: service url id
  src/app/modules/categories/categories-routing.module.ts
  src/app/modules/categories/components/categories-detail/categories-detail.component.html
  src/app/modules/categories/components/categories-detail/categories-detail.component.ts
  src/app/modules/categories/components/categories-edit/categories-edit.component.html
  src/app/modules/categories/components/categories-edit/categories-edit.component.ts
  src/app/modules/categories/components/categories-table/categories-table.component.html
  src/app/modules/categories/resolver/categories-resolver.resolver.ts
  src/app/modules/categories/service/category-data.service.ts
Due: yarn run lint:js --fix

aggiunta immagine caricamento url e modifica style bottoni in modify +sistemata immagine in dettagli
  src/app/modules/items/details-item/details-item.component.scss
  src/app/modules/items/modify-item/modify-item.component.html
  src/app/modules/items/modify-item/modify-item.component.scss
  src/app/modules/items/modify-item/modify-item.component.ts
Due: yarn run lint:js --fix, yarn lint:scss --fix

getCategory funzionante
  src/app/modules/items/modify-item/modify-item.component.html
  src/app/modules/items/modify-item/modify-item.component.scss
  src/app/modules/items/modify-item/modify-item.component.ts
Due: yarn run lint:js --fix, yarn lint:scss --fix

add v.3 + pipe update
  src/app/modules/categories/components/categories-add/categories-add.component.html
  src/app/modules/categories/components/categories-add/categories-add.component.ts
  src/app/modules/categories/icon.pipe.ts
Due: yarn run lint:js --fix

pipe update
  src/app/modules/categories/icon.pipe.ts
Due: yarn run lint:js --fix
