Repository fmalvisi/umana2021-final-test: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:js --fix, yarn lint:scss --fix

.lintstagedrc.json:

{
  "src/**/*.{ts,js,html}": ["yarn run lint:js --fix", "git add"],
  "src/**/*.scss": ["yarn lint:scss --fix", "git add"]
}

fixino grafico
  src/app/modules/items/add-item/add-item.component.html
  src/app/modules/items/add-item/add-item.component.scss
  src/app/modules/items/modify-item/modify-item.component.html
  src/app/modules/items/modify-item/modify-item.component.scss
Due: yarn run lint:js --fix, yarn lint:scss --fix

create tutte le classi dei test unitari e terminato il test per il service
  src/app/modules/items/add-item/add-item.component.spec.ts
  src/app/modules/items/details-item/details-item.component.spec.ts
  src/app/modules/items/list-items/list-items.component.spec.ts
  src/app/modules/items/modify-item/modify-item.component.spec.ts
  src/app/modules/items/resolvers/details-item.resolver.spec.ts
  src/app/modules/items/services/superItemService.service.spec.ts
  src/app/shared/pipes/currency.pipe.spec.ts
Due: yarn run lint:js --fix

disabled button invia(modify)
  mock-api/db.json
  src/app/modules/items/modify-item/modify-item.component.html
  src/app/modules/items/modify-item/modify-item.component.ts
Due: yarn run lint:js --fix

table responsive
  src/app/modules/categories/components/categories-table/categories-table.component.html
  src/app/modules/categories/components/categories-table/categories-table.component.scss
Due: yarn run lint:js --fix, yarn lint:scss --fix

add: cypress testing table + detail
  e2e-tests/cypress/integration/categories-detail.component.spec.js
  e2e-tests/cypress/integration/categories-table.component.spec.js
  src/app/modules/categories/components/categories-detail/categories-detail.component.spec.ts
Due: yarn run lint:js --fix

implementazione test aggiungi pagina
  e2e-tests/cypress/integration/addItemPage.test.spec.js
  src/app/modules/items/add-item/add-item.component.html
Due: yarn run lint:js --fix

edit responsive
  src/app/modules/categories/components/categories-add/categories-add.component.scss
  src/app/modules/categories/components/categories-edit/categories-edit.component.html
  src/app/modules/categories/components/categories-edit/categories-edit.component.scss
Due: yarn run lint:js --fix, yarn lint:scss --fix

add: cypress testing edit + detail fix
  e2e-tests/cypress/integration/categories-add.component.spec.js
  e2e-tests/cypress/integration/categories-edit.component.spec.js
  e2e-tests/cypress/integration/categories-table.component.spec.js
Due: none

inizio dei test per list-item
  src/app/modules/items/list-items/list-items.component.spec.ts
  src/app/modules/items/list-items/list-items.component.ts
Due: yarn run lint:js --fix

fix grafico + test listitemPage
  e2e-tests/cypress/integration/listitemPage.test.spec.js
  src/app/modules/items/details-item/details-item.component.scss
  src/app/modules/items/list-items/list-items.component.html
Due: yarn run lint:js --fix, yarn lint:scss --fix

testing modify
  angular.json
  cypress.json
  cypress/fixtures/example.json
  cypress/integration/spec.ts
  cypress/plugins/index.ts
  cypress/support/commands.ts
  cypress/support/index.ts
  cypress/tsconfig.json
  e2e-tests/cypress/integration/modifyPage.test.spec.js
  mock-api/db.json
  package.json
  src/app/modules/items/list-items/list-items.component.html
  src/app/modules/items/modify-item/modify-item.component.html
  yarn.lock
Due: yarn run lint:js --fix

add: easy unitary testing
  e2e-tests/cypress/integration/categories-add.component.spec.js
  e2e-tests/cypress/integration/categories-detail.component.spec.js
  e2e-tests/cypress/integration/categories-edit.component.spec.js
  src/app/modules/categories/components/categories-add/categories-add.component.spec.ts
  src/app/modules/categories/components/categories-add/categories-add.component.ts
  src/app/modules/categories/components/categories-detail/categories-detail.component.spec.ts
  src/app/modules/categories/components/categories-edit/categories-edit.component.spec.ts
  src/app/modules/categories/components/categories-table/categories-table.component.spec.ts
  src/app/modules/categories/components/categories-table/categories-table.component.ts
  src/app/modules/categories/icon.pipe.spec.ts
  src/app/modules/categories/resolver/categories-resolver.resolver.spec.ts
Due: yarn run lint:js --fix

fine test unitari
  e2e-tests/cypress/integration/users/test-e2e-user-modifica.spec.js
  mock-api/db.json
  src/app/modules/users/modifica/modifica.component.html
  src/app/modules/users/modifica/modifica.component.scss
  src/app/modules/users/modifica/modifica.component.spec.ts
  src/app/modules/users/modifica/modifica.component.ts
Due: yarn run lint:js --fix, yarn lint:scss --fix

merging
  mock-api/db.json
  src/app/modules/users/aggiungi/aggiungi.component.html
  src/app/modules/users/aggiungi/aggiungi.component.spec.ts
  src/app/modules/users/aggiungi/aggiungi.component.ts
  src/app/modules/users/etapipe.pipe.spec.ts
Due: yarn run lint:js --fix

modify testing
  e2e-tests/cypress/integration/modifyPage.test.spec.js
  src/app/modules/items/modify-item/modify-item.component.html
  src/app/modules/items/modify-item/modify-item.component.ts
Due: yarn run lint:js --fix

add: detail testing
  src/app/modules/categories/components/categories-detail/categories-detail.component.spec.ts
  src/index.html
Due: yarn run lint:js --fix

commentati testing vuoti
  src/app/modules/categories/components/categories-table/categories-table.component.spec.ts
  src/app/modules/categories/components/categories-table/categories-table.component.ts
Due: yarn run lint:js --fix

e2e modify
  e2e-tests/cypress/integration/modifyPage.test.spec.js
  mock-api/db.json
  src/app/modules/items/list-items/list-items.component.html
  src/app/modules/items/modify-item/modify-item.component.html
Due: yarn run lint:js --fix

aggiunti test in list item
  src/app/modules/items/list-items/list-items.component.html
  src/app/modules/items/list-items/list-items.component.spec.ts
Due: yarn run lint:js --fix

detail bug fix
  src/app/modules/categories/components/categories-detail/categories-detail.component.ts
Due: yarn run lint:js --fix

aggiunto testing funzione willBeDisabled
  src/app/modules/categories/components/categories-detail/categories-detail.component.spec.ts
  src/app/modules/categories/components/categories-table/categories-table.component.spec.ts
Due: yarn run lint:js --fix

bux fixed
  src/app/modules/items/add-item/add-item.component.html
  src/app/modules/items/add-item/add-item.component.ts
  src/app/modules/items/details-item/details-item.component.ts
  src/app/modules/items/list-items/list-items.component.ts
  src/app/modules/items/modify-item/modify-item.component.ts
Due: yarn run lint:js --fix

fix aggiunta cognome nella page dettagli
  src/app/modules/items/details-item/details-item.component.ts
Due: yarn run lint:js --fix

add: testing edit
  src/app/modules/categories/components/categories-edit/categories-edit.component.spec.ts
  src/app/modules/categories/components/categories-edit/categories-edit.component.ts
  src/app/modules/categories/components/categories-table/categories-table.component.spec.ts
  src/app/modules/categories/icon.pipe.spec.ts
Due: yarn run lint:js --fix

aggiunto testing parziale funzione hide()
  src/app/modules/categories/components/categories-table/categories-table.component.spec.ts
Due: yarn run lint:js --fix

finiti test end to end
  e2e-tests/cypress/integration/users/test-e2e-user-modifica.spec.js
  mock-api/db.json
Due: none

add & edit integrations
  mock-api/db.json
  src/app/modules/categories/components/categories-add/categories-add.component.html
  src/app/modules/categories/components/categories-add/categories-add.component.scss
  src/app/modules/categories/components/categories-add/categories-add.component.ts
  src/app/modules/categories/components/categories-edit/OLDcategories-edit.component.ts
  src/app/modules/categories/components/categories-edit/categories-edit.component.html
Due: yarn run lint:js --fix, yarn lint:scss --fix

test e2e / responsive table
  angular.json
  cypress.json
  e2e-tests/cypress/integration/testleo.spect.js
  mock-api/db.json
  src/app/app.component.html
  src/app/modules/users/resolver/resolverleo.resolver.spec.ts
  src/app/modules/users/resolver/resolverleo.resolver.ts
  src/app/modules/users/show-users/show-users.component.html
Due: yarn run lint:js --fix

messo a posto stile modifica
  src/app/modules/users/modifica/modifica.component.html
  src/app/modules/users/modifica/modifica.component.scss
Due: yarn run lint:js --fix, yarn lint:scss --fix

pipe icon update
  src/app/modules/categories/assets/icon-undefined.png
  src/app/modules/categories/components/categories-table/categories-table.component.html
  src/app/modules/categories/icon.pipe.ts
Due: yarn run lint:js --fix

refactoring
  mock-api/db.json
  src/app/modules/categories/components/categories-add/categories-add.component.spec.ts
  src/app/modules/categories/components/categories-edit/categories-edit.component.ts
  src/app/modules/categories/components/categories-table/categories-table.component.spec.ts
  src/app/modules/categories/resolver/categories-resolver.resolver.spec.ts
Due: yarn run lint:js --fix

messo a posto test unitarti modifica component
  mock-api/db.json
  src/app/modules/users/etapipe.pipe.spec.ts
  src/app/modules/users/modifica/modifica.component.spec.ts
  src/app/modules/users/modifica/modifica.component.ts
Due: yarn run lint:js --fix

aggiunti alcuni test per il detail-item
  mock-api/db.json
  src/app/modules/items/details-item/details-item.component.spec.ts
  src/app/modules/items/details-item/details-item.component.ts
  src/app/modules/items/modify-item/modify-item.component.spec.ts
Due: yarn run lint:js --fix

fix merge dei db.json
  mock-api/db.json
Due: none

skippati test in errore. Coverage @64%/33%/58%/63%
  src/app/modules/users/modifica/modifica.component.spec.ts
  src/app/modules/users/show-users/show-users.component.spec.ts
Due: yarn run lint:js --fix
